a { color: #000000; text-decoration: none }
a:hover { color: #000000; text-decoration: underline }
.splashtext { color: #a6b0b3; text-decoration: none }
.splashtext:hover { color: #000000; text-decoration: none }

